body {
	background: linear-gradient(-45deg, #75EAD5, #75EAD5, #23a6d5, #FFFFFF);
	background-size: 400% 400%;
	animation: gradient 8s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}