.chat_icon{
    position: fixed;
    right: 30px;
    bottom: 0;
    font-size: 80px;
    color: #fff;
    cursor: pointer;
    z-index: 1000;
}

.chat_box{
    position: fixed;
    right: 20px;
    bottom: 100px;
    width: 400px;
    height: 75vh;
    background: #dedede;
    z-index: 1000;
    transition: all 0.3s ease-out;
    transform: scaleY(0);
}

.chat_box.active{
    transform: scaleY(1);
}