@supports not (-webkit-touch-callout: none) {
    /* CSS specific to iOS devices */ 
    .chat_box{
        font-family: "Poppins", sans-serif;
        font-size: 18px;
        position: fixed;
        right: 40px;
        bottom: 100px;
        width: 80vw;
        height: 80vh;
        background: rgba( 255, 255, 255, 0.55 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 7.5px );
        -webkit-backdrop-filter: blur( 7.5px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        z-index: 1000;
        transition: all 0.3s ease-out;
        transform: scaleY(0);
    }
    
    .chat_box.active{
        transform: scaleY(1);
    }
    
    .hidden{
        display: none !important;
    }
    
    .conv-form-wrapper textarea{
        display: none !important;
        height: 2px;
        overflow: hidden;
        resize: none;
    }
  }

@supports (-webkit-touch-callout: none) {
    /* CSS specific to mobile devices */ 
    @media only screen and (max-width: 768px){
        .chat_box{
            
            font-family: "Poppins", sans-serif;
            font-size: 18px;
            position: fixed;
            right: 40px;
            bottom: 100px;
            width: 40vw;
            height: 80vh;
            background: rgba( 255, 255, 255, 0.55 );
            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
            backdrop-filter: blur( 7.5px );
            -webkit-backdrop-filter: blur( 7.5px );
            border-radius: 10px;
            border: 1px solid rgba( 255, 255, 255, 0.18 );
            z-index: 1000;
            transition: all 0.3s ease-out;
            transform: scaleY(0);
        }
        
        .chat_box.active{
            transform: scaleY(1);
        }
        
        .hidden{
            display: none !important;
        }
        
        .conv-form-wrapper textarea{
            display: none !important;
            height: 2px;
            overflow: hidden;
            resize: none;
        }
    }
    @media only screen and (min-width: 768px){
    /* CSS specific to computer devices */ 
    .chat_box{
        font-family: "Poppins", sans-serif;
        font-size: 18px;
        position: fixed;
        right: 40px;
        bottom: 100px;
        width: 25vw;
        height: 50vh;
        background: rgba( 255, 255, 255, 0.55 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 7.5px );
        -webkit-backdrop-filter: blur( 7.5px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        z-index: 1000;
        transition: all 0.3s ease-out;
        transform: scaleY(0);
    }
    
    .chat_box.active{
        transform: scaleY(1);
    }
    
    .hidden{
        display: none !important;
    }
    
    .conv-form-wrapper textarea{
        display: none !important;
        height: 10px;
        overflow: hidden;
        resize: none;
    }
  }
}