/* CSS pour la mise en forme des graphiques */ 

@supports (-webkit-touch-callout: none){
  /* CSS pour les appareils iOS */ 
  .graphics {
    width: 90vw;
    height:100vw;
    margin: 50px auto;
    position:absolute;
    top:100px;
    bottom:0;
    left:0;
    right:0;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
  }
  .iphone{
    display:block;
  }

  .other{
    display:none;
  }
}

@supports not (-webkit-touch-callout: none){
  @media only screen and (max-width: 768px){
    /* CSS pour les appareils mobile */ 
    .graphics {
      width: 90vw;
      height:96vw;
      margin: 50px auto;
      position:absolute;
      top:100px;
      bottom:0;
      left:0;
      right:0;
      background: rgba( 255, 255, 255, 0.25 );
      box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
      backdrop-filter: blur( 4px );
      -webkit-backdrop-filter: blur( 4px );
      border-radius: 10px;
      border: 1px solid rgba( 255, 255, 255, 0.18 );
    }
    .iphone{
      display:block;
    }
    .other{
      display:none;
    }
  }
  @media only screen and (min-width: 768px){
     /* CSS pour les ordinateurs */  
    .graphics {
      width: 50vw;
      height: 35vw;
      margin: 50px auto;
      position:absolute;
      top:100px;
      bottom:0;
      left:0;
      right:0;
      background: rgba( 255, 255, 255, 0.25 );
      box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
      backdrop-filter: blur( 4px );
      -webkit-backdrop-filter: blur( 4px );
      border-radius: 10px;
      border: 1px solid rgba( 255, 255, 255, 0.18 );
    }
    .iphone{
      display:none;
    }
    
    .other{
      display:block;
    }
  }
}






h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 0.9em;
  text-align: center;
  color: rgb(0, 0, 0);
  bottom:5px;
}

