/* CSS pour la page de connexion c'est à dire index.php */ 

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

body{
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    font-family: "Poppins", sans-serif;
}



@supports (-webkit-touch-callout: none) {
    /* CSS pour les appareils iOS */ 
    
    img{
        height:10vh;
        position:absolute;
        bottom:0;
        right:0;
        z-index: 100;
    }

    .logo{
        height:10vh;
        position:fixed;
        margin:0 auto;
        top:2vh;
        left:0;
        right:0;
        z-index: -1;
    }

    .background {
        background-color: black;
    }

    
    button,input,h1{
        font-weight: 400;
        font-family: "Poppins", sans-serif;
        color:black;
        font-size: 16px;
    }
    
    button:hover {
        color:white;
        transition:0.1s;
    }
    
    
    
    .neutral{
        background-color: #F2F2F2;
    }
    
    *{
        margin: 0;
        padding: 0;
    }
    
    
    .form-box{
        width: 100%;
        height: 100%;
        position: relative;
        margin : 0 auto;
        filter: drop-shadow(0 0 0.5rem rgb(105, 105, 105));
        padding: 5px;
        overflow: hidden;
        border-radius: 0; 
        overflow: auto;
        background: rgba( 255, 255, 255, 0.30 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 5.0px );
        -webkit-backdrop-filter: blur( 5.0px );
        border-radius: 16px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
    }
    
    .button-box{
        top:12%;
        margin: 0px auto;
        position:relative;
        text-align: center;
        margin: 0 auto;
        width: 100%;
        padding: 0.5vh;
        border-radius: 30px;
        
    }
    
    .toggle-btn{
        font-weight: 600;
        padding-top: 2vh;
        padding-bottom:4vh;
        padding-left: 5vw;
        padding-right: 5vw;
        cursor: pointer;
        background:none;
        border: 0;
        outline: none;
        position: relative;
        
    }
    
    
    .input-group{
        text-align: center;
        top: 20vh;
        position:absolute;
        width: 50%;
        transition: .5s;
        
    }
    

    .field_group{
        border-radius: 100px;
        padding: 0.2vh 0;
        margin: 1vh auto;
        border:0;
        text-align: center;
        outline: none;
        width: 100%;
        display: flex;
        overflow: hidden;
        background: white;
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
        border-radius: 12px;
        color:#3872E1; 
    }
    
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        transition: background-color 5000s ease-in-out 0s;
    }
    

    .input-field{
        padding: 0.2vh 0;
        margin: 1vh auto;
        border:0;
        text-align: center;
        outline: none;
        width: 100%;
        display: flex;
        overflow: hidden;
        background: none;
        color:#707791; 
    }
    
    input::placeholder {
        color: rgb(218, 218, 218);
      }
    
    .submit-btn{
        padding: 10px;
        cursor: pointer;
        display: block;
        margin: auto;
        margin-top: 50px;
        outline: none;
        inset: 0;
        width:75%;
        background: rgba( 255, 255, 255, 0.25 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );
        border-radius: 12px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
    }
    
    .check-box{
        font-family: "Poppins", sans-serif;
        opacity:0;
    }
    
    span{
        color: rgb(119, 119, 119);
        bottom: 58px;
        position: absolute; 
    }
    .img-background{
        height:30%;
        position:absolute;
        right:0px;
        bottom:0px;
        z-index:-1;
    }
    #connexion{
        left: 25%;
    
    }
    
    #inscription{
        left: -100%;
    }
    
    .username_field{
        display: flex;
        width: 100%;
        margin-bottom: 15px;
    }
}

@supports not (-webkit-touch-callout: none) {
    @media only screen and (max-width: 768px){
        /* CSS pour les appareils mobiles */ 
        img{
            height:10vh;
            position:absolute;
            bottom:0;
            right:0;
            z-index: 100;
        }

        .logo{
            height:10vh;
            position:fixed;
            margin:0 auto;
            top:2vh;
            left:0;
            right:0;
            z-index: -1;
        }

        .background {
            background-color: black;
            width: 100%;
            height: 100%;
        }

        
        button,input,h1{
            font-weight: 400;
            font-family: "Poppins", sans-serif;
            color:black;
            font-size: 16px;
        }
        
        button:hover {
            color:white;
            transition:0.1s;
        }
        
        
        
        .neutral{
            background-color: #F2F2F2;
        }
        
        *{
            margin: 0;
            padding: 0;
        }
        
        
        .form-box{
            width: 100%;
            height: 100%;
            position: relative;
            margin : 0 auto;
            filter: drop-shadow(0 0 0.5rem rgb(105, 105, 105));
            padding: 5px;
            overflow: hidden;
            border-radius: 0; 
            overflow: auto;
            background: rgba( 255, 255, 255, 0.30 );
            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
            backdrop-filter: blur( 5.0px );
            -webkit-backdrop-filter: blur( 5.0px );
            border-radius: 16px;
            border: 1px solid rgba( 255, 255, 255, 0.18 );
        }
        
        .button-box{
            top:12%;
            margin: 0px auto;
            position:relative;
            text-align: center;
            margin: 0 auto;
            width: 100%;
            padding: 0.5vh;
            border-radius: 30px;
            
        }
        
        .toggle-btn{
            font-weight: 600;
            padding-top: 2vh;
            padding-bottom:4vh;
            padding-left: 5vw;
            padding-right: 5vw;
            cursor: pointer;
            background:none;
            border: 0;
            outline: none;
            position: relative;
            
        }
        
        
        .input-group{
            text-align: center;
            top: 20vh;
            position:absolute;
            width: 50%;
            transition: .5s;
            
        }
        

        .field_group{
            border-radius: 100px;
            padding: 0.2vh 0;
            margin: 1vh auto;
            border:0;
            text-align: center;
            outline: none;
            width: 100%;
            display: flex;
            overflow: hidden;
            background: white;
            box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
            border-radius: 12px;
            color:#3872E1; 
        }
        
        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus,
        input:-webkit-autofill:active {
            transition: background-color 5000s ease-in-out 0s;
        }
        

        .input-field{
            padding: 0.2vh 0;
            margin: 1vh auto;
            border:0;
            text-align: center;
            outline: none;
            width: 100%;
            display: flex;
            overflow: hidden;
            background: none;
            color:#707791; 
        }
        
        input::placeholder {
            color: rgb(218, 218, 218);
        }
        
        .submit-btn{
            padding: 10px;
            cursor: pointer;
            display: block;
            margin: auto;
            margin-top: 50px;
            outline: none;
            inset: 0;
            width:75%;
            background: rgba( 255, 255, 255, 0.25 );
            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
            backdrop-filter: blur( 4px );
            -webkit-backdrop-filter: blur( 4px );
            border-radius: 12px;
            border: 1px solid rgba( 255, 255, 255, 0.18 );
        }
        
        .check-box{
            font-family: "Poppins", sans-serif;
            opacity:0;
        }
        
        span{
            color: rgb(119, 119, 119);
            bottom: 58px;
            position: absolute; 
        }
        .img-background{
            height:30%;
            position:absolute;
            right:0px;
            bottom:0px;
            z-index:-1;
        }
        #connexion{
            left: 25%;
        
        }
        
        #inscription{
            left: -100%;
        }
        
        .username_field{
            display: flex;
            width: 100%;
            margin-bottom: 15px;
        }
    }
    @media only screen and (min-width: 768px){
        /* CSS pour les ordinateurs */ 
        body{
            font-size: 16px;
            overflow: hidden;
        }
        img{
            height:10vh;
            position:absolute;
            bottom:0;
            right:0;
            z-index: 100;
        }

        .logo{
            height:10vh;
            position:fixed;
            margin:0 auto;
            top:2vh;
            left:0;
            right:0;
            z-index: -1;
        }
        

        button,input,h1{
            font-weight: 400;
            font-family: "Poppins", sans-serif;
            color:black;
            font-size: 16px;
        }

        button:hover {
            color:white;
            transition:0.1s;
        }



        .neutral{
            background-color: #F2F2F2;
        }

        *{
            margin: 0;
            padding: 0;
        }


        .form-box{
            width: 75vh;
            height: 75vh;
            position: absolute;
            margin : auto auto;
            padding: auto auto;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            overflow: hidden;
            background: rgba( 255, 255, 255, 0.30 );
            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
            backdrop-filter: blur( 5.0px );
            -webkit-backdrop-filter: blur( 5.0px );
            border-radius: 16px;
            border: 1px solid rgba( 255, 255, 255, 0.18 );
        }

        .button-box{
            top:12%;
            margin: 0px auto;
            position:relative;
            text-align: center;
            margin: 0 auto;
            width: 100%;
            padding: 0.5vh;
            border-radius: 30px;
            
        }

        .toggle-btn{
            font-weight: 600;
            padding-top: 2vh;
            padding-bottom:4vh;
            padding-left: 5vw;
            padding-right: 5vw;
            cursor: pointer;
            background:none;
            border: 0;
            outline: none;
            position: relative;
            
        }


        .input-group{
            text-align: center;
            top: 20vh;
            position:absolute;
            width: 50%;
            transition: .5s;
            
        }

        .field_group{
            border-radius: 100px;
            padding: 0.2vh 0;
            margin: 1vh auto;
            border:0;
            text-align: center;
            outline: none;
            width: 100%;
            display: flex;
            overflow: hidden;
            background: white;
            box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
            border-radius: 12px;
            color:#3872E1; 
        }

        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus,
        input:-webkit-autofill:active {
            transition: background-color 5000s ease-in-out 0s;
        }

        .input-field{
            padding: 0.2vh 0;
            margin: 1vh auto;
            border:0;
            text-align: center;
            outline: none;
            width: 100%;
            display: flex;
            overflow: hidden;
            background: none;
            color:#707791; 
        }

        input::placeholder {
            color: rgb(190, 190, 190)
        }

        .submit-btn{
            padding: 10px;
            cursor: pointer;
            display: block;
            margin: auto;
            margin-top: 50px;
            outline: none;
            inset: 0;
            width:50%;
            background: rgba( 255, 255, 255, 0.25 );
            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
            backdrop-filter: blur( 4px );
            -webkit-backdrop-filter: blur( 4px );
            border-radius: 12px;
            border: 1px solid rgba( 255, 255, 255, 0.18 );
        }

        .check-box{
            font-family: "Poppins", sans-serif;
            opacity:0;
        }

        span{
            color: rgb(119, 119, 119);
            bottom: 58px;
            position: absolute; 
        }
        .img-background{
            height:30%;
            position:absolute;
            right:0px;
            bottom:0px;
            z-index:-1;
        }
        #connexion{
            left: 25%;

        }

        #inscription{
            left: -100%;
        }

        .username_field{
            display: flex;
            width: 100%;
            margin-bottom: 15px;
        }
    }
}

