body{
    font-family: "muliregular";
    background-image: radial-gradient(circle at center center, transparent,rgb(255,255,255)),repeating-linear-gradient(
        135deg
        , rgb(255,255,255) 0px, rgb(255,255,255) 12px,transparent 12px, transparent 19px,rgb(255,255,255) 19px, rgb(255,255,255) 24px,transparent 24px, transparent 28px),repeating-linear-gradient(
        45deg
        , rgb(245,245,245) 0px, rgb(245,245,245) 7px,transparent 7px, transparent 14px),linear-gradient(
        90deg
        , rgb(255,255,255),rgb(255,255,255));
}

@font-face {
    font-family: 'muliregular';
    src: url('../font/muli-regular-webfont.woff2') format('woff2'),
         url('../font/muli-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}





h1{
	font-size: 32px;
	font-weight: normal;
	font-style: normal;
	margin-bottom: 18px;
}




.neutral{
    background-color: #F2F2F2;
}







*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


.form-box{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: rgb(45, 50, 129);
    padding: 5px;
    overflow: hidden;
}

.button-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #00000096;
    border-radius: 30px;
}

.toggle-btn{
    padding: 20px 20px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background : linear-gradient(to right, #ff105f,#ffad06);
    border-radius: 30px;
    transition: .5s;
}

.input-group{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.submit-btn{
    width: 85%;
    padding: 7px 20px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #ff105f,#ffaf06);
    border: 0;
    outline: none;
    border-radius: 30px;
}

.check-box{
    margin: 30px 10px 30px 0;
}

span{
    color: rgb(119, 119, 119);
    font-size: 15px;
    bottom: 58px;
    position: absolute; 
}

#connexion{
    left: 50px;
}

#inscription{
    left: 450px;
}