*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


.form-box{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: rgb(45, 50, 129);
    padding: 5px;
    overflow: hidden;
}

.button-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #00000096;
    border-radius: 30px;
}

.toggle-btn{
    padding: 20px 20px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background : linear-gradient(to right, #ff105f,#ffad06);
    border-radius: 30px;
    transition: .5s;
}

.input-group{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.submit-btn{
    width: 85%;
    padding: 7px 20px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #ff105f,#ffaf06);
    border: 0;
    outline: none;
    border-radius: 30px;
}

.check-box{
    margin: 30px 10px 30px 0;
}

span{
    color: rgb(119, 119, 119);
    font-size: 15px;
    bottom: 58px;
    position: absolute; 
}

#connexion{
    left: 50px;
}

#inscription{
    left: 450px;
}